<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:mvc="http://www.springframework.org/schema/mvc" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:sws="http://www.springframework.org/schema/web-services"
		xsi:schemaLocation="http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/web-services  
			http://www.springframework.org/schema/web-services/web-services-2.0.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd">

         
    <context:component-scan base-package="com.akash.ws.data com.akash.ws.data.reqres com.akash.ws.endpoint 
    								com.akash.ws.service com.akash.ws.service.impl  com.akash.ws.controller
    								com.akash.ws.client.impl"/>

    <sws:annotation-driven />
    
    <sws:dynamic-wsdl id="UserDetailsWsdlService" portTypeName="UserDetailsWsdlServicePort" locationUri="/endpoints/">
    	<sws:xsd location="schema/UserDetails.xsd"/>
	</sws:dynamic-wsdl>

	<sws:dynamic-wsdl id="EmployeeWsdlService" portTypeName="EmployeeWsdlServicePort" locationUri="/endpoints/" >
    	<sws:xsd location="schema/Employee.xsd"/>
	</sws:dynamic-wsdl>
	
	<sws:interceptors>
		<bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
	
		<bean id="validatingInterceptor1"
		        class="com.akash.ws.interceptor.PayloadValidatingInterceptorWithSourceFix">
		    <property name="schema" value="schema/Employee.xsd"/>
		    <property name="validateRequest" value="false"/>
		    <property name="validateResponse" value="false"/>
		</bean>
		
		<bean id="validatingInterceptor2"
		        class="com.akash.ws.interceptor.PayloadValidatingInterceptorWithSourceFix">
		    <property name="schema" value="schema/UserDetails.xsd"/>
		    <property name="validateRequest" value="false"/>
		    <property name="validateResponse" value="false"/>
		</bean>
	</sws:interceptors>
	
</beans>